.momend-word{
    font-family: comfortaabold,sans-serif;
}
.logo{
    width: 100px;
}
.navbar .brand{
    padding: 0;
    position: relative;
    top: -10px;
}
/* Home Page */
div#create-modal-body.modal-body{
    overflow-x: hidden;
}
.modal-group-container{
}
.modal-icon-group{
    height: 250px;
    overflow-y: auto;
    margin-left: 0;
}
.model-icon-button {
    color: rgb(102, 102, 102);
    cursor: pointer;
}
.model-icon-button:hover{
    color: rgb(150, 150, 150);
    text-decoration: none;
}
.model-icon-button.active{
    color: rgb(0, 115, 205)
}
.modal-tab-content{
    height: 250px;
    margin-top: 2px;
}
.homepage-carousel-item{
    height: 306px;
}
.momend-carousel-picture{
    height: 306px;
    width: 515px;
}
#create-form.form-horizontal{
    margin: 0;
}
.ui-datepicker-month{
    display: inline-block;
}
.ui-datepicker-year{
    display: inline-block;
}
.modal-nav-tabs{
    margin: 0;
}
input.modal-form-item{
    width: 270px;
    margin-bottom: 10px;
}
input.modal-form-item-small{
    width: 180px;
    margin-bottom: 10px;
}
input.modal-form-item-medium{
    width: 223px;
    margin-bottom: 10px;
}
input.modal-form-item-large{
    width: 324px;
    margin-bottom: 10px;
}
select.modal-form-item{
    width: 120px;
    margin-bottom: 10px;
}
label.modal-form-item{
    display: inline-block;
    width: 90px;
}
.form-input-error{
    border-color: red !important;
}
.upload-button{
    position: absolute;
    right: 30px;
    top: 85px;
    color: rgb(102, 102, 102);
}
#upload-button-icon{
    position: relative;
    left:3px;
}
#get-button.button{
    width: 200px;
}
.more-clickable{
    display: block;
    padding: 10px;
}
a.upload-button{
    text-decoration: none;
}
a.delete-button{
    top: 0 !important;
    position: relative !important;
    margin-right: 10px;
}
.delete-button{
    color: rgb(102, 102, 102);
    font-size: 15px;
}
.delete-button:hover{
    font-size: 17px;
    color: rgb(185, 31, 31);
    text-decoration: none;
    cursor: pointer;
}
.creating-dialog-bg{
    z-index: 9999;
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
}
.creating-dialog-bg.dark{
    background-color:rgba(51,51,51,0.8);
}
.creating-dialog{
    position:fixed;
    top:10%;
    left:50%;
    width: 600px;
    height: 400px;
    margin-left: -300px;
    background-color:#ffffff;
    border:1px solid #999;
    border:1px solid rgba(0, 0, 0, 0.3);
    *border:1px solid #999;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    -webkit-box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);
    text-align: center;
    padding-top: 20px;
}
.collect-box{
    position: absolute;
    top: 100px;
    left: 180px;
}
#collecting-text{
    position: absolute;
    left: 30%;
}
/* Show Page */
.interaction-list{
    width: 100%;
    max-height:200px;
    overflow: auto;
}
.interaction{
    width: 100%;
}
.used-media-list{
    width: 100%;
    height: 250px;
    overflow: auto;
    margin-left: -10px;
}
.used-media{
    width: 100%;
}
.player{
    margin-top:5px;
    height:460px;
    background-color:rgba(51,51,51,0.8);
}
.player-fullscreen{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,1) !important;
    z-index: 9999;
}
#uvTab{
    top: 90% !important;
}