.modal-backdrop {background: none;}

.homepage-carousel-item{
    height: 480px;
}
.modal-nav-tabs{
    margin: 0;
}
input.modal-form-input{
    width: 150px;
    margin-bottom: 10px;
}
select.modal-form-input{
    width: 150px;
    margin-bottom: 10px;
}