.modal-backdrop {background: none;}

.homepage-carousel-item{
    height: 306px;
}
.modal-nav-tabs{
    margin: 0;
}
input.modal-form-input{
    width: 150px;
    margin-bottom: 10px;
}
select.modal-form-input{
    width: 150px;
    margin-bottom: 10px;
}
@font-face {
    font-family: 'Mathlete';
    src: url("fonts/mathlete/Mathlete-Bulky-webfont.ttf");
    font-weight: normal;
    font-style: normal;
}
.momend-carousel-picture{
    height: 306px;
    width: 515px;
}