@charset "UTF-8";
html{
    height:100%;
    width:100%;
    font-size:100%;
}

body{
    height:100%;
    width:100%;
    margin:0px;
    font-size:100%;
}
.player{
    position: relative;
    height:100%;
    width: 100%;
}
.scene{
    margin:0 auto;
    width:100%;
    height: 97%;
    overflow:hidden;
    position:relative;
    font-size: 16px;
}
.scene.fullscreen{
    font-size: 22px;
}
.error{
    position: absolute;
    display: inline;
    top:10px;
    left: 50%;
    margin-left: -200px;
}
figure, figcaption{ /*add any other html5 elements you use*/
    display:block;
}

.photo {
    display:none;
    position:absolute;
    overflow: visible !important;
    user-select: none;
    moz-user-select: none;
    -webkit-user-select: none;

}
.status {
    display:none;
    position:absolute;
}

.status-text{
    position:relative;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.scene-background{
    position:absolute;
    display:none;
    width:100%;
    height:100%;
}

.background-image{
    width:100%;
    height:100%;
}

.video-container{
    position:absolute;
}

.photo_image{
    position:relative;
    display:block;
    margin-left: auto;
    margin-right: auto;
    height:97%;
    user-select: none;
    moz-user-select: none;
    -webkit-user-select: none;
}
