.momend-player{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.9);
    min-height: 25px;
}
#play-toggle{
    position: relative;
    left: 5px;
}
.momend-button-group{
    position: absolute;
    right: 5px;
    bottom: 2px;
    margin: 0;
}
.slider-bg{
    position: absolute;
    top: 10%;
    left: 40px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(240,240,240,0.9);
    border-radius: 15px;
}