.momend-player{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(27, 27, 27, 1);
    height: 30px;
    padding-top: 1px;
    z-index: 10000;
}
#play-toggle{
    position: relative;
    left: 5px;
}
.momend-button-group{
    position: absolute;
    margin: 0;
    bottom: 3px;
}
.ui-widget-content { border: 1px solid rgba(50, 50, 50, 0.8); background: rgb(185,31,31) 50% 50% repeat-x; color: rgb(185,31,31); }

.right-group{
    right: 5px;
}
#volume-slider {
    height:5px;
    width: 80px;
    position: absolute;
    top: 7px;
    left: 50px;
}
.ui-slider .ui-slider-handle{
    width: 13px;
    height: 13px;
}
.loading-bg{
    position: fixed;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    text-align: center;
    padding-top: 30%;
}
.loading-text{
    font-size: 20px;
    margin-top: 10px;
}
.finished-modal-bg{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 9999;
}
.finished-modal{
    position: absolute;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border: 2px solid #737272;
    background-color: rgb(196, 196, 196);
    width: 360px;
    height: 230px;
    left: 50%;
    margin-left: -150px;
    top:10%;
    z-index: 9999;
    -webkit-box-shadow: 0px 10px 16px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 10px 16px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 10px 16px rgba(50, 50, 50, 0.75);
}
.finished-modal-button{
    cursor: pointer;
    height: 60px;
    background-color: rgba(50, 50, 50, 0.8);
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding-left: 20px;
    padding-top: 15px;
    margin: 30px;
    font-size: 30px;
}
.finished-modal-button:hover{
    background-color: rgba(150, 150, 150, 0.8);
}
.modal-icon{
    font-size: 40px;
    margin-right: 10px;
}
.player-button{
    cursor: pointer;
    background-color: rgb(27, 27, 27);
    color: rgb(126, 126, 126);
    border: 0;
    font-size: 1em;
}
.player-button:hover{
    color: rgb(149, 149, 149);
}

.player-tooltip{
    display: none;
    overflow: hidden;
    z-index: 10000;
    position: absolute;
    bottom:30px;
    background-color: rgba(27, 27, 27, 0.9);
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: 1px solid rgba(150, 150, 150, 0.8);
    font-size: 13px;
    line-height: 1.4;
    color: #FFFFFF;
    text-align: center;
}
.share-button{
    width: 70px;
    height: 40px;
    margin: 5px;
    padding-top: 5px;
    font-size: 23px;
    display: block;
    color: rgb(126, 126, 126);
}
.share-button:hover{
    color: rgb(149, 149, 149);
    background-color: rgba(40,40,40,0.8);
}
.share-button:visited{
    color: rgb(126, 126, 126);
}
hr{
    border-color: rgba(150, 150, 150, 0.8);
}