{% extends "MainSite.html" %}

{% load url from future %}

{% block heading %} {# empty for login #}  {% endblock heading %}
{% block footer %} {# empty for login #}  {% endblock footer %}
{% block jquery %} {# empty for login #} {% endblock jquery %}
{% block content %}
    <script type="text/javascript">
        if(window.location.href.indexOf('accounts/login/') > 0){
            var redirectLocation = "{% url 'momends:main-screen' %}";
            {% if form.errors %}
            redirectLocation += '?login-error=true';
            {% endif %}
            window.location.href = redirectLocation;
        }
    </script>
    <div class="authenticate-content">
        <a href="{% url 'socialauth_begin' 'facebook' %}" id="facebook-connect-text"><img src="{{ STATIC_URL }}img/fb-medium.png" style="margin-right: 10px"></img>You can connect with Facebook</a>
        <div id="connect-or-div">
            ~ Or ~
        </div>
        <form name="login_form" id="login-form" action="{% url 'auth_login' %}" method="post">{% csrf_token %}
            {{ form.as_p }}
            <input id="connect-login-button" type="submit" value="Login" />
            <a id="connect-signup-text" href="#" onclick='showAuthModal("{% url 'registration_register' %}","Sign up")'> Not a member yet?</a>
        </form>
    </div>
    <script type="text/javascript">
        $('body').ready(function(){
            $('#connect-login-button').click(function(event){
                event.preventDefault();
                var valid = true;
                $('#login-form').find('input').each(function(){
                    if($(this).val().length === 0){
                        $(this).addClass('invalid');
                        valid = false;
                    }else{
                        $(this).removeClass('invalid');
                    }
                });
                if(valid){
                    $('#login-form').submit();
                }
            });
        });
    </script>
{% endblock content %}
{% block feedback %}{# empty for login #}{% endblock feedback %}