{% extends "MainSite.html" %}

{% load url from future %}

{% block heading %} {# empty for login #}  {% endblock heading %}
{% block footer %} {# empty for login #}  {% endblock footer %}
{% block jquery %} {# empty for login #} {% endblock jquery %}
{% block content %}
     <a href="{% url 'socialauth_begin' 'facebook' %}"><img src="{{ STATIC_URL }}img/facebook.png"></img></a>
    <form name="login_form" action="{% url 'auth_login' %}" method="post" style="display: none">{% csrf_token %}
        {{ form.non_field_errors }}

        <label for="id_username" >Username</label>
        {{ form.username }}
        <label for="id_password" >Password</label>
        {{ form.password }}

        <input type="hidden" name="next" value="{{ next }}" />
        <input name="login" type="submit" value="Login" id="login-form-submit"/>

    </form>

{% endblock content %}
{% block feedback %}{# empty for login #}{% endblock feedback %}