{% extends "MainSite.html" %}
{% load url from future %}

{% block heading %} {# empty for signup #}  {% endblock heading %}
{% block footer %} {# empty for signup #}  {% endblock footer %}
{% block jquery %} {# empty for signup #} {% endblock jquery %}

{% block content %}
    <a href="{% url 'socialauth_begin' 'facebook' %}">Register with Facebook</a>
    <form action="" method="post">{% csrf_token %}
        {{ form.as_p }}
        {{ script }}
        <input type="submit" value="Submit" />
    </form>

{% endblock content %}