{% extends "MainSite.html" %}
{% load url from future %}
{% block include %}
    <link href="{{ STATIC_URL }}basicmain_style.css" rel="stylesheet"> 
    <link href="{{ STATIC_URL }}datepicker.css" rel="stylesheet">
{% endblock include %},
{% block meta %}
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
{% if momend %}
    <meta property="og:type" content="article"/>
    <meta property="og:image" content="{{ MOMEND_FILE_URL}}{{ momend.thumbnail}}"/>
    <meta property="og:title" content="{{ momend.name }}"/>
    <meta property="og:description" content="You can now re-experience your precious momends!"/>
{% endif %}
{% endblock meta %}
{% block heading %} {% endblock heading %}

{% block content %}
    <div id="maindiv" class="scene">
        <iframe align="center" id="video" class="video" width="100%" height="100%" src="http://www.youtube.com/embed/dVZpm0okAH8?rel=0" frameborder="0" allowfullscreen></iframe>
        {% if user.is_authenticated %}
            <div class="basic-header" id="header">
                <a class="basic-logout-link" id='basic-logout-link' href="{% url 'auth_logout' %}" title="logout" >Logout</a>
            </div>
        {% endif %}
        <div class="transparent" id="transparent-content">
            <div class="logo-div">
                <h6 class="logo">momen<span style="color: darkred">d</span>s</h6>
            </div>
            <div class="actions">
                {% if not user.is_authenticated %}

                    <a href="javascript:watchVideo()" class="white-link">
                        <img src="{{ STATIC_URL }}img/video-icon.jpg"/>
                        What we do?
                    </a>
                    <b style="font-size: 20px;color: #ffffff; margin: 0 9px 0 9px">|</b> <!-- I had to! (pixel perfection :)) -->
                    <a href="#" class="white-link" onclick='showAuthModal("{% url 'auth_login' %}","Sign in")'>Get yours now!</a>
                {% else %}
                    <a href="#" class="white-link" onclick='showCreateModal()'>Hello {{ user.username }}, click to create a momend?</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="social-networks-basic">
        <p>
            <a class="social-network twitter" href="https://twitter.com/momends"></a>
            <a class="social-network facebook" href="https://www.facebook.com/momends" style="margin-left: 10px"></a>
        </p>
    </div>
    <!-- Create Modal -->
    <div id="create-modal-mini" class="modal hide fade span6" tabindex="-1" role="dialog" aria-labelledby="create-modal" aria-hidden="true" data-backdrop="true">
        <form class="form-horizontal" id="create-form" method="post" action="">{% csrf_token %}
            <div class="modal-body" id="create-modal-body-mini">

                <div class="span6">
                    <input type="hidden" name="momend_name" id="id_momend_name">
                    <input type="hidden" name="momend_theme" id="id_momend_theme">
                    <input type="hidden" name="privacy_type" id="id_privacy_type">
                    <div class="create-social-media">
                                <i class="icon-facebook icon-3x create-social-button" id="create-social-facebook" onclick="socialToggle('facebook')"></i>
                                <i class="icon-twitter icon-3x create-social-button" id="create-social-twitter" onclick="socialToggle('twitter')"></i>

                    </div>
                    <div class="pagination">
                        <ul>
                            <li><a id="date-1y" class="date-selector-link selected"href="#" onclick="dateSelected('year')">Last Year</a> </li>
                            <li><a id="date-6m" class="date-selector-link" href="#" onclick="dateSelected('6mon')">Last 6 Months</a> </li>
                            <li><a id="date-1m" class="date-selector-link" href="#" onclick="dateSelected('1mon')">Last Month</a> </li>
                            <li><a id="date-custom" class="date-selector-link" href="#" onclick="dateSelected('custom')">Custom</a> </li>
                        </ul>
                    </div>
                    <div class="modal-group-container">
                        <div class="modal-tab-content span8">
                            <div class="with-content">
                                <ul id="with-list">
                                </ul>
                                <label for="with-box" id="with-label" class="modal-form-item">With:</label>
                                <input id="with-box" type="text" class="modal-form-item-medium friend-typeahead" name="with-box">
                            </div>
                            <div id="date-content" style="display: none">
                                <label for="id_start_date" class="modal-form-item">From:</label>
                                <input id="id_start_date" type="text" class="modal-form-item-medium modal-date-input" name="start_date">
                                <br/>
                                <label for="id_finish_date" class="modal-form-item">To:</label>
                                <input id="id_finish_date" type="text" class="modal-form-item-medium modal-date-input" name="finish_date">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer" id="create-modal-footer">
                <button class="button orange" id="get-button" type="submit">Get it!</button>
            </div>
        </form>
    </div>
    <div class="creating-dialog-bg" id="creating-dialog-bg">
        <div class="creating-dialog" id="creating-dialog">
            <h3 id="collecting-text">We are creating your momend</h3>
            <img class="collect-box" src="{{ STATIC_URL }}img/box.png">
            <span id="arrow-1" style="background: url('{{ STATIC_URL }}img/arrows.png') -23px 0;width: 150px;
                    height: 110px;left: 40px;position: absolute;opacity: 0.99"></span>
            <span id="arrow-2" style="background: url('{{ STATIC_URL }}img/arrows.png') 190px 20px;width: 150px;
                    height: 110px;right: 40px;position: absolute; opacity: 0.66"></span>
            <span id="arrow-3" style="background: url('{{ STATIC_URL }}img/arrows.png') -5px 110px;width: 150px;
                    height: 110px;left: 40px;top: 270px;position: absolute; opacity: 0.33"></span>
            <span id="arrow-4" style="background: url('{{ STATIC_URL }}img/arrows.png') 140px 140px;width: 150px;
                    height: 110px;right: 40px;top:270px;position: absolute;opacity: 0"></span>
            <h3 style="position: absolute;bottom: 10px">This may take a couple of minutes, and we will also send it via email (to {{ user.email }}) when it is ready!</h3>
        </div>
    </div>
    <div class="basic-dialog" id="welcome-dialog" style="height: 90px">
        It seems you don't have any momend yet, here comes your first!
        <button class="button orange basic-dialog-close" id="close-button" onclick="$('#welcome-dialog').fadeOut()">OK!</button>
    </div>
    <script type="text/javascript" src="{{ STATIC_URL }}js/hogan-2.0.0.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/typeahead.min.js"></script>
    <script>
        var HOST_URL = '{{ HOST_URL }}';
        var currentBg = 0;
        var lastLoaded = -1;
        var bgArr = [];
        var bgDivArr = [];
        var animationInterval = 5000;
        var auth = [{% for provider in providers %}'{{ provider }}',{% endfor %}];
        var _type = '{{ params.type }}';
        var _cid = '{{ params.id }}';
        var user_momend_count = {% if user.is_authenticated %} {{ user_top_momends|length }};{% else %}false;{% endif %}
        var _dialogId = 0;
        var home = '{{ home }}';
        var animationId;
        var momendPlaying = false;
        var createState;
        var autocompleteData;
        var selectedFriends;
        var createModalMaximized = false;

        window.onpopstate = function(e){ //Play momend if the url bar changed after create and user coming back from history
            if(e.state){
                playMomend(e.state.cid, e.state.type === 'i');
            }
        };

        $('body').ready(function(){
            for(var i=0;i<5;i++){
                bgArr.push(STATIC_URL+'img/carousel'+(i+1)+'.jpg');
            }
            for (var i = bgArr.length - 1; i > 0; i--) { //Shuffle bg
                var j = Math.floor(Math.random() * (i + 1));
                var temp = bgArr[i];
                bgArr[i] = bgArr[j];
                bgArr[j] = temp;
            }
            loadNext();
            $('.modal-date-input').datepicker({
                endDate: new Date(),
                format: "d M, yyyy",
                autoclose: true
            });
            prepareTypeahead();
            $('#get-button').click(function(event){
                event.preventDefault();
                var postData = {'momend_name':"{{user.username}}'s momend",
                    'start_date': $('#id_start_date').val(),
                    'finish_date': $('#id_finish_date').val(),
                    'momend_theme': 0,
                    'privacy_type': 1,
                    'facebook-active': $('#create-social-facebook').hasClass('active'),
                    'twitter-active': $('#create-social-twitter').hasClass('active'),
                    'friends': function(){

                        var selectedIds = [];
                        for(var i=0; i < selectedFriends.length; i++){
                            selectedIds.push(selectedFriends[i].id);
                        }
                        return selectedIds;
                    }
                };
                createMomend(postData);
            });
            if(_cid){ //If we have a video to show
                playMomend(_cid, _type === 'i');
            }else if(user_momend_count === 0 && home === 'True'){ //If home page & user logged in and has no momends
                welcome();
            }else if(getURLParameter('create') === 'true'){ //Someone told me to show create modal
                showCreateModal();
                _trackPageEvent('Create', 'AutoShowDialog');
            }
        });

        /**
         * Welcomes and creates the first momend for the user
         */
        function welcome(){
            _trackPageEvent('Page', 'Welcome');
            var date = new Date();
            date.setDate(date.getDate() -365 );
            var postData = {'momend_name':"{{user.username}}'s first momend",
                'start_date': formatDate("d M, yy", date),
                'finish_date': formatDate("d M, yy", new Date()), //Today
                'momend_theme': 0,
                'privacy_type': 1,
                'facebook-active': true,
                'twitter-active': false,
                'friends': null
            };
            createMomend(postData);
            $('#creating-dialog-bg').addClass('dark');
            $('#welcome-dialog').show();
        }

        function createMomend(postData){
            _trackPageEvent('Create', 'Creating');
            var creatingDialogBg = $('#creating-dialog-bg');
            creatingDialogBg.fadeIn();
            createState = 'We are creating your momend';
            animateCollectingText();
            animateArrows();

            var token = $('[name="csrfmiddlewaretoken"]')[0].value;
            $.ajax({
                type: 'POST',
                timeout: 10*60*1000,
		        url: '{% url 'momends:create-momend'%}',
                beforeSend: function(xhr){xhr.setRequestHeader('X-CSRFToken', token);},
                data: postData,
                success: function(msg){
                    console.log(msg);
                    var result = JSON.parse(msg);
                    if(result.resp){ //Create requested successfully 
                        setTimeout(function() {checkMomendStatus(result.cid)}, 5000);
                    }else{
                        _trackPageEvent('Momend', 'CreateFailed');
                        creatingDialogBg.fadeOut();
                        _showToast(result.message, '110px');
                    }
                },
                error: function(msg){
                    _trackPageEvent('Momend', 'CreateServerError');
                    creatingDialogBg.fadeOut();
                    _showToast('An error occurred! Please try again later.', '90px');
                }
            });
        }

        function checkMomendStatus(crypticId){
            var mainURL = '{% url 'momends:momend-status' 'dummy' %}';
            var statusURL = mainURL.replace('dummy', crypticId);
            $.getJSON( statusURL, function(data) {
                var creatingDialogBg = $('#creating-dialog-bg');
                if(!data.resp){ //Status check request unsuccessful
                    _showToast(data.message, '90px');
                }else{
                    if(data.status === 'Success'){
                        creatingDialogBg.fadeOut();
                        $('#create-modal-mini').modal("hide");
                        try{
                            window.history.pushState({'type':'m','cid':result.cid},"", HOST_URL+'/show/m/'+result.cid);
                        }catch(e){
                            console.log('Different domain?');
                        }
                        playMomend(crypticId);
                    }
                    else if(data.status === 'Error'){
                        var message;
                        if(data.message){
                            message = data.message;
                        }else{
                            message = 'An error occurred! Please try again later.';
                        }
                        creatingDialogBg.fadeOut();
                        _showToast(message, '90px');
                    }else{
                        createState = data.status;
                        setTimeout(function() {checkMomendStatus(crypticId)}, 5000);
                    }
                }

            }).error(function(){_showToast('An error occurred! Please try again later.', '90px');});
        }

        /**
         * Loads next background image if not all images are loaded.
         * If current loaded image is the first one shows it, hides the div otherwise
         */
        function loadNext(){
            if(lastLoaded == bgArr.length-1){
                return;
            }
            var bgContainer = jQuery('<div/>',{
                id : 'bg-container'+(lastLoaded+1),
                class : 'scene-background'
            }).appendTo('#maindiv');
            bgDivArr.push(bgContainer);
            var bgImg = jQuery('<img/>',{
                id : 'bg-img'+(lastLoaded+1),
                class : 'background-image',
                src : bgArr[lastLoaded+1]
            }).appendTo(bgContainer);
            bgImg.ready(function(){
                lastLoaded++;
                console.log('loaded:'+lastLoaded);
                loadNext();
                if(lastLoaded>0){
                    bgContainer.hide();
                }else{
                    nextAnimation();
                }
            });
        }

        /**
         * Handles fadein - fadeout animations of background images
         */
        function nextAnimation(){
            if(momendPlaying){ //Do not animate if player is active
                return;
            }
            if(lastLoaded != bgDivArr.length-1 && lastLoaded < currentBg+1){ //next item not loaded yet
                setTimeout(nextAnimation, animationInterval);
                return;
            }
            var cur = currentBg;
            currentBg = cur + 1;
            if(currentBg == bgDivArr.length){
                currentBg = 0;
            }
            var appear = bgDivArr[currentBg];
            appear.css({'opacity':0});
            appear.show();
            appear.animate({
                opacity:1
            },{duration:1500,complete:function(){
                setTimeout(nextAnimation, animationInterval);
            }});
            var disappear = bgDivArr[cur];
            disappear.animate({
                opacity:0
            },{duration:1500,complete:function(){
                $(this).hide();
            }});
        }

        /**
         * shows the video and adds a backdrop
         */
        function watchVideo(){
            _trackPageEvent('Video', 'Watch');
            var box = $("<div/>").addClass("darkCover").click(function(){
                $(this).fadeOut();
                content.fadeOut();
                document.getElementById('video').src="http://www.youtube.com/embed/dVZpm0okAH8?rel=0";

            });
            $("body").prepend(box);

            box.fadeTo("fast",0.8);
            var content = $('#video');
            content.fadeIn(1000);
            $("body").prepend(content);
            content.fadeTo("fast",1);
        }

        function showCreateModal(){
            _trackPageEvent('Create', 'ShowDialog');
            var modal = $('#create-modal-mini');
            modal.css('margin-left',modal.outerWidth()/-2);
            modal.modal();
            for(var i = 0;i<auth.length; i++){ //Mark authenticated providers as active
                $('#create-social-'+auth[i]).addClass('active');
            }
            var start = $('#id_start_date');  //Assing initial values of date boxes
            var finish =$('#id_finish_date');
            finish.datepicker('update', new Date());
            var date = new Date();
            date.setDate(date.getDate() -365 ); //Go back 1 year fo start date
            start.datepicker('update', date);
            if(autocompleteData){  //Typeahead not initialized yet
                console.log('I have data! initializing typeahead now');
                $('.friend-typeahead').typeahead(autocompleteData);
            }
        }

        function prepareTypeahead(){
            $.getJSON('{% url 'momends:user-friends' %}', function(data){
                if(data.resp){
                    for(var i=0; i<data.list.length; i++){
                        var _providerName = data.list[i].name;
                        for(var j=0; j< data.list[i].local.length; j++){
                            var _name =  data.list[i].local[j]['name'];
                            data.list[i].local[j].tokens = _name.split(' ');
                            data.list[i].local[j].id = _providerName + '-' + data.list[i].local[j].id;  // To format like facebook-123456
                            if(_providerName === 'facebook'){
                                data.list[i].local[j].value = _name;
                            }else if(_providerName === 'twitter'){
                                var _screenName = data.list[i].local[j].screen_name;
                                data.list[i].local[j].value = _name +' - '+_screenName;
                                data.list[i].local[j].tokens.push(_screenName);
                            }
                        }
                        data.list[i].template =  '<p><i class="icon-'+_providerName+'"></i>{% templatetag openvariable %}value{% templatetag closevariable %}</strong><span class="tt-suggested-id">'+_providerName+'-{% templatetag openvariable %}id{% templatetag closevariable %}</span></p>';
                        data.list[i].engine = Hogan;
                    }
                    autocompleteData = $.extend(data.list, [], true);
                    if($('#create-modal-mini').is(':visible')){
                        console.log('initializing typeahead'); 
                        $('.friend-typeahead').typeahead(autocompleteData);
                    }
                }
            });
            $('.friend-typeahead').on('typeahead:selected', friendSelected);
            selectedFriends = [];
        }

        function friendSelected($e){
            if(arguments.length == 2){
                var selected = arguments[1];
                if($.inArray(selected, selectedFriends) === -1){
                    selectedFriends.push(selected);
                    var listItem = $('<li/>',{
                        text: selected.name
                    }).appendTo($('#with-list'));
                    var liHeight = listItem.outerHeight();
                    _animateCreateModal('+=' + liHeight, '+=' + liHeight, 300);
                }
                $('.friend-typeahead').val('');
            }
        }

        function animateCollectingText(state){
            if(!state || state === 4){
                state = 0;
            }
            var obj = $('#collecting-text');
            var width = (createState.length+3)*9;
            var container = $('#creating-dialog');
            obj.css({'left': (container.outerWidth() - width) / 2});
            var tmpText = createState;
            for (var i=0;i<state;i++){
                tmpText += '.';
            }
            obj.text(tmpText);
            setTimeout(function(){
                animateCollectingText(state+1);
            },500);
        }
        function animateArrows(){
            var arrowAnimationIntervalId = setInterval(function(){
                for(var i = 1; i<5; i++){
                    var _arrow = $('#arrow-'+i);
                    var _arrowOpacity = _arrow.css('opacity');
                    _arrowOpacity -= 0.34;
                    if(_arrowOpacity<0){
                        _arrowOpacity = 0.99;
                    }
                    _arrow.animate({'opacity':_arrowOpacity},400);
                }
            },500);
        }

        function showAuthModal(_url, title){
            _trackPageEvent('Auth', 'ShowDialog');
            var modal =jQuery('<div/>',{
                'id': 'modal',
                'class' : 'modal hide fade',
                'tabindex' : '-1',
                'role' : 'dialog',
                'aria-labelledby' : 'modal-label',
                'aria-hidden' : 'true'
            }).appendTo('body');
            var header = jQuery('<div/>',{
                'class' : 'modal-header'
            }).appendTo(modal);
            jQuery('<h3/>',{
                'text' : title
            }).appendTo(header);
            var modal_body = jQuery('<div/>',{
                class : 'modal-body'
            }).appendTo(modal);
            modal.ready(function(){
                modal.modal({
                    'remote' : _url
                });
            });
            modal.bind('hidden',function(){
                $(this).remove();
            });
        }
        function socialToggle(provider){
            if(provider === 'facebook'){
                return;
            }
            if($.inArray(provider, auth) >= 0){
                var button = $('#create-social-'+provider);
                if(button.hasClass('active')){
                    button.removeClass('active');
                }else{
                    button.addClass('active');
                }
            }else{ //Show authentication dialog
                var twitterConnectURL = HOST_URL + '{% url 'socialauth_begin' 'twitter' %}';
                window.location.replace(twitterConnectURL);
            }
        }
        function dateSelected(type){
            $('.date-selector-link').removeClass('selected');
            var dateContent = $('#date-content');
            dateContent.hide();
            var start = $('#id_start_date');
            var date = new Date();
            switch (type){
                case 'year':
                    date.setDate(date.getDate() -365 );
                    start.datepicker('update', date);
                    $('#date-1y').addClass('selected');
                    modalResize(false);
                    break;
                case '6mon':
                    date.setDate(date.getDate() -180 );
                    start.datepicker('update', date);
                    $('#date-6m').addClass('selected');
                    modalResize(false);
                    break;
                case '1mon':
                    date.setDate(date.getDate() -30 );
                    start.datepicker('update', date);
                    $('#date-1m').addClass('selected');
                    modalResize(false);
                    break;
                case 'custom':
                    $('#date-custom').addClass('selected');
                    dateContent.show();
                    modalResize(true);
            }
        }
    function modalResize(toBig){
        if(toBig && !createModalMaximized){
            _animateCreateModal('+=100', '+=100', 500);
            createModalMaximized = true;
        }else if(createModalMaximized){
            _animateCreateModal('-=100', '-=100', 500);
            createModalMaximized = false;
        }
    }

    function _animateCreateModal(modalSize, bodySize, duration){
        var modal = $('#create-modal-mini');
        var body = $('#create-modal-body-mini')
        modal.animate({height:modalSize}, duration);
        body.animate({height:bodySize}, duration)
    }
    function playMomend(cid, isInteraction){
        momendPlaying = true;
        var mainURL = '{% url 'momends:play-momend' 'm' 'dummy' %}';
        var momendURL = mainURL.replace('dummy', cid);
        if(isInteraction === true){
            momendURL = momendURL.replace('/m/','/i/'); //TODO better?
        }
        var playBG = jQuery('<div/>',{
            id : 'play-bg',
            class : 'play-bg'
        }).appendTo('body');
        var portablePlayer = jQuery('<div/>',{
            id : 'momend-player',
            class: 'portable-player regular'
        }).appendTo(playBG);
        var playerFrame = jQuery('<iframe/>',{
            src : momendURL,
            style : 'width: 100%;height: 100%;border: 0;',
            id : 'momend-player-frame',
            onload : 'frameLoaded()'
        }).appendTo(portablePlayer);

        playBG.click(function(){ //Pause the momend and minimize it if backdrop pressed
            momendManager.jsAnimate.pause();
            $('#momend-player').animate({'width':0,'height':0,'top':0,'left':'35%'},500);
            setTimeout(function(){
                playBG.fadeOut(function(){
                    momendPlaying = false;
                    nextAnimation();
                });
            },300);
            if(!$('#show-again').is('*')){ //To prevent inserting more than 1 buttons if user presses the button repeatedly
                if(!$('#header').is('*')){
                    jQuery('<div/>',{
                        class : 'basic-header',
                        id : 'header'
                    }).appendTo('#maindiv');
                }
                var showAgainButton = jQuery('<a/>',{
                    text : 'Show momend',
                    class : 'basic-show-again-link',
                    id :'show-again',
                    href : '#'
                }).appendTo('#header');
                $('#basic-logout-link').css({float:'right'}); // to send Logout to the right most side again
                showAgainButton.click(function(event){
                    momendPlaying = true;
                    event.preventDefault();
                    playBG.fadeIn();
                    setTimeout(function(){
                        $('#momend-player').animate({'width':640,'height':480,'top':'20%','left':0},300);
                    },300);
                    $(this).remove();
                });
            }
        });
    }
        function _showToast(_text, _height){
            var dialog = $('<div/>',{
                class : 'basic-dialog',
                id : 'dialog-'+_dialogId,
                style : 'height: '+_height
            }).appendTo('body');
            $('<p/>',{
                text : _text
            }).appendTo(dialog);
            var closeButton = $('<button/>',{
                class : 'button orange basic-dialog-close',
                id : 'close-'+_dialogId,
                text : 'OK'
            }).appendTo(dialog);
            closeButton.click(function(){
                dialog.fadeOut();
            });
            dialog.fadeIn();
            _dialogId++;
        }
        function _trackPageEvent(_group, _event){
            _gaq.push(['_trackEvent', 'Page', _group, _event])
        }
    </script>
    <script>
        /**
         * This group handles momend player frame
         */
        fullscreen_on = false;
        function frameLoaded(){
            console.log('Frame Loaded');
            player_frame = document.getElementById('momend-player-frame');
            momendManager = player_frame.contentWindow.momendManager;
            momendManager.setFullscreenFunction(fullscreen);
            momendManager.addFinishListenerFunction(finished);
            momendManager.setRedirectFunction(redirectToPage);
            //We may want to open in a new tab?
        }
        function finished(){
            if(fullscreen_on){
                fullscreen();
            }
        }
        function fullscreen(){
            momendManager.fullscreenToggle();
            var player = $('#momend-player');
            if(!fullscreen_on){
                player.addClass('fullscreen');
                player.removeClass('regular');
                _trackPageEvent('Fullscreen', 'On');
            }else{
                player.removeClass('fullscreen');
                player.addClass('regular');
                _trackPageEvent('Fullscreen', 'Off');
            }
            fullscreen_on = !fullscreen_on;
        }
        function redirectToPage(url){
            location.href = url;
        }
        function getURLParameter(name) {
            return decodeURI(
                    (RegExp(name + '=' + '(.+?)(&|$)').exec(location.search)||[,null])[1]
            );
        }
    </script>
    <script type="text/javascript">
        /**
        *JQuery UI's datePicker's format date function
        */
        function formatDate(format, date, settings) {
            if (!date) {
                return "";
            }

            var iFormat,
                dayNames= ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"],
                dayNamesShort= ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"],
                monthNames= ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
                monthNamesShort= ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
                // Check whether a format character is doubled
                lookAhead = function(match) {
                    var matches = (iFormat + 1 < format.length && format.charAt(iFormat + 1) === match);
                    if (matches) {
                        iFormat++;
                    }
                    return matches;
                },
                // Format a number, with leading zero if necessary
                formatNumber = function(match, value, len) {
                    var num = "" + value;
                    if (lookAhead(match)) {
                        while (num.length < len) {
                            num = "0" + num;
                        }
                    }
                    return num;
                },
                // Format a name, short or long as requested
                formatName = function(match, value, shortNames, longNames) {
                    return (lookAhead(match) ? longNames[value] : shortNames[value]);
                },
                output = "",
                literal = false;

            if (date) {
                for (iFormat = 0; iFormat < format.length; iFormat++) {
                    if (literal) {
                        if (format.charAt(iFormat) === "'" && !lookAhead("'")) {
                            literal = false;
                        } else {
                            output += format.charAt(iFormat);
                        }
                    } else {
                        switch (format.charAt(iFormat)) {
                            case "d":
                                output += formatNumber("d", date.getDate(), 2);
                                break;
                            case "D":
                                output += formatName("D", date.getDay(), dayNamesShort, dayNames);
                                break;
                            case "o":
                                output += formatNumber("o",
                                    Math.round((new Date(date.getFullYear(), date.getMonth(), date.getDate()).getTime() - new Date(date.getFullYear(), 0, 0).getTime()) / 86400000), 3);
                                break;
                            case "m":
                                output += formatNumber("m", date.getMonth() + 1, 2);
                                break;
                            case "M":
                                output += formatName("M", date.getMonth(), monthNamesShort, monthNames);
                                break;
                            case "y":
                                output += (lookAhead("y") ? date.getFullYear() :
                                    (date.getYear() % 100 < 10 ? "0" : "") + date.getYear() % 100);
                                break;
                            case "@":
                                output += date.getTime();
                                break;
                            case "!":
                                output += date.getTime() * 10000 + this._ticksTo1970;
                                break;
                            case "'":
                                if (lookAhead("'")) {
                                    output += "'";
                                } else {
                                    literal = true;
                                }
                                break;
                            default:
                                output += format.charAt(iFormat);
                        }
                    }
                }
            }
            return output;
        }
    </script>
{% endblock content %}
{% block footer%} {% endblock footer %}



