{% extends "MainSite.html" %}
{% load url from future %}

{% block message %} {% endblock message %} <!-- Will show custom message -->

{% block content %}
    <div class="lead-container" xmlns="http://www.w3.org/1999/html">
        <div class="container">

            <div id="carousel" class="carousel slide macbook" rel="carousel" data-interval=15000>
                <img src="{{ STATIC_URL }}img/carousel-macbook.png" class="carousel-macbook" alt="" />
                <!-- Carousel items -->
                <div class="carousel-inner">
                    <div class="item active homepage-carousel-item" id="yt-container">
                        <div class="video_container" id="video_container">
                            <iframe width="515" height="306" src="http://www.youtube.com/embed/dVZpm0okAH8?rel=0&showinfo=0&controls=0" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="item homepage-carousel-item">
                        <img class="momend-carousel-picture" alt="momend picture" src="{{ STATIC_URL }}img/carousel1.jpg" />
                    </div>
                    <div class="item homepage-carousel-item">
                        <img class="momend-carousel-picture" alt="momend picture" src="{{ STATIC_URL }}img/carousel5.jpg" />
                    </div>
                    <div class="item homepage-carousel-item">
                        <img class="momend-carousel-picture" alt="momend picture" src="{{ STATIC_URL }}img/carousel2.jpg" />
                    </div>
                    <div class="item homepage-carousel-item">
                        <img class="momend-carousel-picture" alt="momend picture" src="{{ STATIC_URL }}img/carousel3.jpg" />
                    </div>
                </div>
                <!-- Carousel navigation -->
                <a class="carousel-control left" href="#carousel" data-slide="prev"></a>
                <a class="carousel-control right" href="#carousel" data-slide="next"></a>

            </div>
            <div class="row">
                <div>
                    <a class="button large orange offset1 span10" style="text-align: center;margin-left: 8.4%" onclick="{% if user.is_authenticated %}
                        showCreateModal() {% else %} getYours() {% endif %}"><i class="icon-magic"></i> Get yours now!</a>
                </div>
            </div>

            <hr />

            <div id="portfolio">
                {% if user.is_authenticated %}
                    <!-- portfolio filter -->
                    <ul id="portfolio-filter" class="nav nav-tabs">
                        <li class="active"><a href="#" class="filter" data-filter=".user">My Momends</a></li>
                        <li><a href="#" class="filter" data-filter=".public">Public Momends</a></li>
                    </ul>
                {% endif %}
                <!-- portfolio items -->
                <section class="row" id="portfolio-items">
                    {% for momend in public_top_momends %}
                        <!-- portfolio item-->
                        <article class="project {% cycle 'span6' 'span6' 'span4' 'span4' 'span4' 'span3' 'span3' 'span3' 'span3'%}" data-tags="public">

                            <div class="thumbnail link">
                                <!-- image -->
                                <a class="momend-thumb-link" href="{% url 'momends:show-momend' 'm' momend.id %}" title="{{ momend.name }}">
                                    <img alt="{{ momend.name }}" {% if momend.thumbnail %}src="{{ MOMEND_FILE_URL }}{{ momend.thumbnail }}" {% endif %} />
                                </a>
                                <!-- description -->
                                <div class="project-description">
                                    <!-- icon -->
                                    <i class="icon-magic"></i>
                                    <!-- name -->
                                    <b class="project-name">{{ momend.name }}</b>
                                </div>
                            </div>

                        </article>
                        <!-- end portfolio item-->
                    {% endfor %}
                    {% for momend in user_top_momends %}
                        <!-- portfolio item-->
                        <article id="momend-{{ momend.id }}" class="project {% cycle 'span6' 'span6' 'span4' 'span4' 'span4' 'span3' 'span3' 'span3' 'span3'%}" data-tags="user">

                            <div class="thumbnail link">
                                <!-- image -->
                                <a class="momend-thumb-link" href="{% url 'momends:show-momend' 'm' momend.id %}" title="{{ momend.name }}">
                                    <img alt="{{ momend.name }}" {% if momend.thumbnail %}src="{{ MOMEND_FILE_URL }}{{ momend.thumbnail }}" {% endif %} />
                                </a>
                                <!-- description -->
                                <div class="project-description">
                                    <!-- icon -->
                                    <i class="icon-magic"></i>
                                    <!-- name -->
                                    <b class="project-name">{{ momend.name }}</b>
                                    <a id="delete-{{ momend.id }}" class="icon-remove-sign pull-right delete-button" data-id="{{ momend.id }}"></a>
                                </div>
                            </div>

                        </article>
                        <!-- end portfolio item-->
                    {% endfor %}
                </section>
            </div>

        </div>
    </div>

    <!-- Create Modal -->
    <div id="create-modal" class="modal hide fade span9" tabindex="-1" role="dialog" aria-labelledby="create-modal" aria-hidden="true" data-backdrop="false">
        <form class="form-horizontal" id="create-form" method="post" action="">{% csrf_token %}
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2>Create your momend!</h2>
            </div>
            <div class="modal-body" id="create-modal-body">

                <div class="span9">
                    {{ form.non_field_errors }}
                    <div class="modal-group-container">
                        {{ form.momend_name.errors }}
                        <label for="id_momend_name" class="modal-form-item">Name:</label>
                        {{ form.momend_name }}
                        <br/>
                        {{ form.momend_theme.errors }}
                        <label for="id_momend_theme" class="modal-form-item">Theme:</label>
                        {{ form.momend_theme }}
                        {{ form.privacy_type.errors }}
                        <label for="id_privacy_type"style="display: inline; margin: 0 20px 0 26px">Privacy:</label>
                        {{ form.privacy_type }}
                        <a onclick="uploadPressed()" class="upload-button"><i id="upload-button-icon" class="icon-4x icon-upload model-icon-button" href="#" ></i><br/><b style="font-size: 15px"> Upload</b></a>
                    </div>
                    <hr/>
                    <div class="modal-group-container">
                        <div class="modal-icon-group span1">
                            <a id="alltab" class="icon-3x icon-download model-icon-button tab-icon active more-clickable" onclick="clickTab('alltab')" href="#"></a>
                            <hr/>
                            <a id="fbtab" class="icon-3x icon-facebook-sign model-icon-button tab-icon more-clickable" onclick="clickTab('fbtab')" href="#"></a>
                            <hr/>
                            <a id="twtab" class="icon-3x icon-twitter-sign model-icon-button tab-icon more-clickable" onclick="clickTab('twtab')" href="#"></a>
                            <hr/>
                        </div>
                        <div class="modal-tab-content span8">
                            <div id="alltab-content" class="tab-content">
                                {{ form.start_date.errors }}
                                <label for="id_start_date" class="modal-form-item">From:</label>
                                {{ form.start_date }}
                                <br/>
                                {{ form.finish_date.errors }}
                                <label for="id_finish_date" class="modal-form-item">To:</label>
                                {{ form.finish_date }}
                                <br/>
                                <label for="id_with" class="modal-form-item">With:</label>
                                <input id="id_with" type="text" class="modal-form-item-medium" value="" name="with">
                            </div>
                            <div id="fbtab-content" class="tab-content">FB</div>
                            <div id="twtab-content" class="tab-content">TW</div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button class="button orange" id="get-button" type="submit">Get it!</button>
            </div>
        </form>
        <div class="creating-dialog" id="creating-dialog">
            <h3>Please Wait...</h3>
            <img class="collect-box" src="{{ STATIC_URL }}img/box.png">
            <img src="{{ STATIC_URL }}img/arrows.png">
            <h3 id="collecting-text">We are creating your momend</h3>
        </div>
    </div>

    <!-- Delete Modal -->
    <div id="delete-modal" class="modal hide fade" data-backdrop="false">
        <div class="modal-header">
            <a href="#" class="close">&times;</a>
            <h3>Delete Momend</h3>
        </div>
        <div class="modal-body">
            <p>You are about to delete your momend.</p>
            <p>Do you want to proceed?</p>
        </div>
        <div class="modal-footer">
            <a href="#" onclick="deleteMomend()" class="btn danger">Yes</a>
            <a href="javascript:$('#delete-modal').modal('hide')" class="btn secondary">No</a>
        </div>
    </div>
{% endblock content %}
{% block scripts %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
    <script>
        var form_has_errors = {% if form.errors %} true;
        {% else %} false;
        {% endif %}
        $('body').ready(function(){
            {% if user.is_authenticated %}
                $('#portfolio-items').isotope({filter: '.user'}); //Filter thumbnails for .user
            {% endif %}
            $('#carousel').carousel({interval: 15000}); //Activate carousel
            if(swfobject.hasFlashPlayerVersion("8")){ //Replace iframe video with swf object to control, pause
                var params = { allowScriptAccess: "always" };
                var atts = { id: "ytvideo" ,
                    wmode:"transparent"};
                swfobject.embedSWF("http://www.youtube.com/v/dVZpm0okAH8?showinfo=0&controls=0&rel=0&&enablejsapi=1", "video_container", "515", "306", "8",null,null,params,atts);
            }
            if (navigator.userAgent.match(/iPad/i)) {
               //TODO handle broken momend thumbnails on ipad
            }
            if(form_has_errors){ //Show error messages if this page is response to create request
                showCreateModal();
            }
            $('.modal-date-input').datepicker({
                    changeMonth: true,
                    changeYear: true,
                    maxDate: "+0D",
                    dateFormat: "d M, yy"
                });;
            $('#get-button').click(function(event){
                event.preventDefault();
                if(validateCreateForm()){
                    $('#creating-dialog').fadeIn();
                    animateCollectingText();
                    $('#create-form').submit();
                }
            });

            //Handle delete events
            $('.delete-button').click(function(e) {
                e.preventDefault();

                var id = $(this).data('id');
                $('#delete-modal').data('id', id).modal('show');
            });
            //Handle delete modal
            $('#delete-modal').bind('show', function() {
                var id = $(this).data('id');
                var removeBtn = $(this).find('.danger');
                removeBtn.click(function(e){
                    e.preventDefault();
                    deleteMomend(id);
                    $('#delete-modal').modal('hide');
                });
            })
        });
        function onYouTubePlayerReady(playerId) {
            ytplayer = document.getElementById("ytvideo");
            ytplayer.addEventListener("onStateChange", "onytplayerStateChange");
        }
        function getYours(){
            showAuthModal("{% url 'auth_login' %}","Login");
        }
        function showCreateModal(){
            try{
                if(ytplayer){
                    ytplayer.pauseVideo();
                }
            }catch(ex){
                console.log(ex);
            }

            var _modal = $('#create-modal');
            _modal.css('margin-left',_modal.outerWidth()/-2);
            _modal.modal();
            _modal.ready(function(){
                var contents = $('.tab-icon');
                for(var i=1; i<contents.length;i++){
                    $('#'+contents[i].id+'-content').hide(); //TODO fix
                }
                previous_tab = contents[0].id;
            });

        }
        function validateCreateForm(){
            var _valid = true;
            var _name = $('#id_momend_name');
            var _start = $('#id_start_date');
            var _end = $('#id_finish_date');

            if(_name.val().length < 4){
                _valid = false;
                _name.addClass('form-input-error');
                _name.popover({
                    title: 'Required Field',
                    content: 'Name should be at least 4 characters',
                    placement: 'left'
                });
               _name.popover('show');
            }else{
                _name.removeClass('form-input-error');
            }

            var _start_date = new Date(_start.val());
            var _end_date = new Date(_end.val());

            if(_start.val().length==0 || isNaN(_start_date.getDate())){
                _valid = false;
                _start.addClass('form-input-error');
                _start.popover({
                    title: 'Required Field',
                    content: 'Please enter a valid date',
                    placement: 'left'
                });
                _start.popover('show');
            }else{
                _start.removeClass('form-input-error');
            }
            if(_end.val().length==0 || isNaN(_end_date.getDate())){
                _valid = false;
                _end.addClass('form-input-error');
                _end.popover({
                    title: 'Required Field',
                    content: 'Please enter a valid date',
                    placement: 'left'
                });
                _end.popover('show');
            }else{
                if(!isNaN(_start_date.getDate()) && _end_date < _start_date){
                    _valid = false;
                    _end.addClass('form-input-error');
                    _end.popover({
                        title: 'Error',
                        content: 'End Date should be later than Start Date',
                        placement: 'left'
                    });
                    _end.popover('show');
                }else{
                    _end.removeClass('form-input-error');
                }
            }
            return _valid;
        }
        function animateCollectingText(state){
            var texts = ['We are creating your momend',
                'We are creating your momend.',
                'We are creating your momend..',
                'We are creating your momend...'];
            if(!state || state===texts.length){
                state = 0;
            }
            var obj = $('#collecting-text');
            obj.text(texts[state]);
            setTimeout(function(){
                animateCollectingText(state+1);
            },500);
        }

        function onytplayerStateChange(newState) {
            if(newState==0){ //Video finished
                $('#carousel').carousel('cycle');
            }
            if(newState==1){
                $('#carousel').carousel('pause');

            }
        }
        function clickTab(tab){
            var _newCont = $('#'+tab+'-content');
            _newCont.show();
            $('#'+tab).addClass('active');
            $('#'+previous_tab+'-content').hide();
            $('#'+previous_tab).removeClass('active');
            previous_tab = tab;
        }

        function deleteMomend(_momend){
            var button = $('#delete-'+_momend);
            button.removeClass('icon-remove-sign');
            button.addClass('icon-spinner');
            button.addClass('icon-spin');
            var delete_url = '{% url 'momends:delete-momend' 'm' 0 %}'; //Get url for momend 0 then replace 0 with id
            delete_url = delete_url.replace('0',_momend);
            var item = $('#momend-'+_momend);
            jQuery.getJSON(delete_url, function(data){
                if(data['resp']==='true'){
                    $('#portfolio-items').isotope('remove',item);
                }else{
                    //TODO handle delete error
                    button.hide(); //Hiding because it probably won't fix without refreshing the page or logging in
                }
            });

        }
    </script>
{% endblock scripts %}
