{% extends "MainSite.html" %}
{% load url from future %}

{% block content %}
    <div class="lead-container" xmlns="http://www.w3.org/1999/html">
        <div class="container">

            <div id="carousel" class="carousel slide macbook" rel="carousel" data-interval="15000">
                <img src="{{ STATIC_URL }}img/carousel-macbook.png" class="carousel-macbook" alt="" />
                <!-- Carousel items -->
                <div class="carousel-inner">
                    <div class="item active homepage-carousel-item" id="yt-container">
                        <div class="video_container" id="video_container">
                            <iframe width="515" height="306" src="http://www.youtube.com/embed/dVZpm0okAH8?rel=0&showinfo=0&controls=0" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="item homepage-carousel-item">
                        <img class="momend-carousel-picture" alt="momend picture" src="{{ STATIC_URL }}img/carousel1.jpg" />
                    </div>
                    <div class="item homepage-carousel-item">
                        <img class="momend-carousel-picture" alt="momend picture" src="{{ STATIC_URL }}img/carousel5.jpg" />
                    </div>
                    <div class="item homepage-carousel-item">
                        <img class="momend-carousel-picture" alt="momend picture" src="{{ STATIC_URL }}img/carousel2.jpg" />
                    </div>
                    <div class="item homepage-carousel-item">
                        <img class="momend-carousel-picture" alt="momend picture" src="{{ STATIC_URL }}img/carousel3.jpg" />
                    </div>
                </div>
                <!-- Carousel navigation -->
                <a class="carousel-control left" href="#carousel" data-slide="prev"></a>
                <a class="carousel-control right" href="#carousel" data-slide="next"></a>

            </div>
            <div class="row">
                <div>
                    <a class="button large orange offset1 span10" style="text-align: center;margin-left: 8.4%" onclick="showCreateModal()"><i class="icon-magic"></i> Get yours now!</a>
                </div>
            </div>

            <hr />

            <div id="portfolio">
                {% if user.is_authenticated %}
                    <!-- portfolio filter -->
                    <ul id="portfolio-filter" class="nav nav-tabs">
                        <li class="active"><a href="#" class="filter" data-filter=".user">My Momends</a></li>
                        <li><a href="#" class="filter" data-filter=".public">Public Momends</a></li>
                    </ul>
                {% endif %}
                <!-- portfolio items -->
                <section class="row" id="portfolio-items">
                    {% for momend in public_top_momends %}
                        <!-- portfolio item-->
                        <article class="project {% cycle 'span6' 'span6' 'span4' 'span4' 'span4' 'span3' 'span3' 'span3' 'span3'%}" data-tags="public">

                            <div class="thumbnail link">
                                <!-- image -->
                                <a href="{% url 'momends:show-momend' 'm' momend.id %}" title="{{ momend.name }}">
                                    <img alt="{{ momend.name }}" {% if momend.thumbnail %}src="{{ MOMEND_FILE_URL }}{{ momend.thumbnail }}" {% endif %} />
                                </a>
                                <!-- description -->
                                <div class="project-description">
                                    <!-- icon -->
                                    <i class="icon-magic"></i>
                                    <!-- name -->
                                    <b class="project-name">{{ momend.name }}</b>
                                </div>
                            </div>

                        </article>
                        <!-- end portfolio item-->
                    {% endfor %}
                    {% for momend in user_top_momends %}
                        <!-- portfolio item-->
                        <article class="project {% cycle 'span6' 'span6' 'span4' 'span4' 'span4' 'span3' 'span3' 'span3' 'span3'%}" data-tags="user">

                            <div class="thumbnail link">
                                <!-- image -->
                                <a href="{% url 'momends:show-momend' 'm' momend.id %}" title="{{ momend.name }}">
                                    <img alt="{{ momend.name }}" {% if momend.thumbnail %}src="{{ MOMEND_FILE_URL }}{{ momend.thumbnail }}" {% endif %} />
                                </a>
                                <!-- description -->
                                <div class="project-description">
                                    <!-- icon -->
                                    <i class="icon-magic"></i>
                                    <!-- name -->
                                    <b class="project-name">{{ momend.name }}</b>
                                </div>
                            </div>

                        </article>
                        <!-- end portfolio item-->
                    {% endfor %}
                </section>
            </div>

        </div>
    </div>

    <!-- Create Modal -->
    <div id="create-modal" class="modal hide fade span9" tabindex="-1" role="dialog" aria-labelledby="create-modal" aria-hidden="true">
        <form class="form-horizontal" method="post" action="">{% csrf_token %}

            <div class="modal-body" id="create-modal-body">

                <div class="span9">
                    <div class="modal-group-container">
                        <label for="id_momend_name" class="modal-form-item">Name:</label>
                        {{ form.momend_name }}
                        <br/>
                        <label for="id_momend_theme" class="modal-form-item">Theme:</label>
                        {{ form.momend_theme }}
                        <label for="id_privacy_type"style="display: inline; margin-left: 12px">Privacy:</label>
                        {{ form.privacy_type }}
                        <a onclick="uploadPressed()" class="upload-button"><i id="upload-button" class="icon-4x icon-upload model-icon-button" href="#" ></i><br/><b style="font-size: 15px"> Upload</b></a>
                    </div>
                    <hr/>
                    <div class="modal-group-container">
                        <div class="modal-icon-group span1">
                            <a id="alltab" class="icon-3x icon-download model-icon-button tab-icon active" onclick="clickTab('alltab')" href="#"></a>
                            <hr/>
                            <a id="fbtab" class="icon-3x icon-facebook model-icon-button tab-icon" onclick="clickTab('fbtab')" href="#"></a>
                            <hr/>
                            <a id="twtab" class="icon-3x icon-twitter model-icon-button tab-icon" onclick="clickTab('twtab')" href="#"></a>
                            <hr/>
                        </div>
                        <div class="modal-tab-content span8">
                            <div id="alltab-content" class="tab-content">
                                <label for="id_start_date" class="modal-form-item">From:</label>
                                {{ form.start_date }}
                                <a class="btn" style="vertical-align: top" href="#" onclick="showDatePicker('id_start_date')"><i class="icon-calendar"></i></a>
                                <br/>
                                <label for="id_finish_date" class="modal-form-item">To:</label>
                                {{ form.finish_date }}
                                <a class="btn" href="#" style="vertical-align: top" onclick="showDatePicker('id_finish_date')"><i class="icon-calendar"></i></a>
                                <br/>
                                <label for="id_with" class="modal-form-item">With:</label>
                                <input id="id_with" type="text" class="modal-form-item-medium" value="" name="with">
                            </div>
                            <div id="fbtab-content" class="tab-content">FB</div>
                            <div id="twtab-content" class="tab-content">TW</div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                <button class="btn btn-primary" type="submit">Get it</button>
            </div>
        </form>

    </div>
{% endblock content %}
{% block scripts %}
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
    <script>
        $('body').ready(function(){
            $('#portfolio-items').isotope({filter: '.user'}); //Filter thumbnails for .user
            $('.carousel').carousel({interval: 15000})
            if(swfobject.hasFlashPlayerVersion("8")){
                var params = { allowScriptAccess: "always" };
                var atts = { id: "ytvideo" ,
                            wmode:"transparent"};
                swfobject.embedSWF("http://www.youtube.com/v/dVZpm0okAH8?showinfo=0&controls=0&rel=0&&enablejsapi=1", "video_container", "515", "306", "8",null,null,params,atts);
            }
        });
        function onYouTubePlayerReady(playerId) {
            ytplayer = document.getElementById("ytvideo");
            ytplayer.addEventListener("onStateChange", "onytplayerStateChange");
        }
        function showCreateModal(){
            try{
                ytplayer.pauseVideo();
            }catch(ex){
                console.log(ex);
            }

            var _modal = $('#create-modal');
            _modal.css('margin-left',_modal.outerWidth()/-2);
            _modal.modal();
            _modal.ready(function(){
                var contents = $('.tab-icon');
                for(var i=1; i<contents.length;i++){
                    $('#'+contents[i].id+'-content').hide(); //TODO fix
                }
                previous_tab = contents[0].id;
            });

        }
        function onytplayerStateChange(newState) {
            if(newState==0){ //Video finished
                $('#carousel').carousel('cycle');
            }
            if(newState==1){
                $('#carousel').carousel('pause');
            }
        }
        function clickTab(tab){
            var _newCont = $('#'+tab+'-content');
            _newCont.show();
            $('#'+tab).addClass('active');
            $('#'+previous_tab+'-content').hide();
            $('#'+previous_tab).removeClass('active');
            previous_tab = tab;
        }
    function showDatePicker(_on_id){
        var input = $('#'+_on_id);
        input.datepicker({
            onClose: function(dateText, inst) {
                input.datepicker('destroy');
            },
            dateFormat: "d M, yy"
        });
        input.focus();

    }
    </script>
{% endblock scripts %}
