{% load url from future %}

<!doctype html>
<html xmlns="http://www.w3.org/1999/html"
      xmlns:og="http://ogp.me/ns#"
      xmlns:fb="https://www.facebook.com/2008/fbml">
<head>
    <meta charset="UTF-8">

    <title>{% block title %} momends {% endblock title %}</title>
    {% block default_meta %}
        <meta name="Description" content="You can create entertaining animations with your photos!">
        <meta name="Keywords" content="photo animation, animation generator, photo slideshow">
        <meta property="og:site_name" content="momends"/>
        <meta property="og:url" content="{{ request.build_absolute_uri }}"/>
        <meta property="fb:app_id" content="125999474230740"/>
        <meta property="twitter:site" content="momends"/>
    {% endblock default_meta %}
    {% block meta %} {% endblock meta %}
    {% block jquery %}
        <script src="{{ STATIC_URL }}js/jquery.js"></script>
    {% endblock jquery %}

    {% block default_include %} <!--includes for whole site -->
        <script>STATIC_URL = '{{ STATIC_URL }}';  </script>
        <script>MOMEND_FILE_URL = '{{ MOMEND_FILE_URL }}';  </script>
        <script>THEME_DATA_URL = '{{ THEME_DATA_URL }}';  </script>
        <link href="{{ STATIC_URL }}fonts/comfortaa/stylesheet.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/site.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}fonts/font-awesome/font-awesome.css" rel="stylesheet">
        <!--[if IE 7]>
		    <link href="{{ STATIC_URL }}fonts/font-awesome/font-awesome-ie7.css" rel="stylesheet">
	    <![endif]-->
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />

    {% endblock default_include %}

    {% block include %}
    {% endblock include %}   <!--additional includes for each page-->

    {% block scripts %}
    {% endblock scripts %}   <!--additional scripts for whole site -->
</head>

<body>

{% block heading %}
    {% block navbar %}
        <header id="header">
            <!-- Navigation
            ================================================== -->
            <nav class="navbar">
                <div class="navbar-inner">
                    <div class="container">
                        <!-- Logo -->
                        <a class="brand" href="{% url 'momends:front-page' %}">
                            <img src="{{ STATIC_URL }}/img/logo.png" class="logo">
                        </a>
                        <ul class="nav">

                            {% if user.is_authenticated %}
                                <li><a href="{% url 'momends:settings-screen' %}" title="settings" >{{ user.username }}</a></li>
                                <li><a href="{% url 'auth_logout' %}" title="logout" >Logout</a></li>
                            {% else %}
                                <li><a href="#" onclick='showAuthModal("{% url 'auth_login' %}","Login")'>Sign in</a></li>
                                <li><a href="#" onclick='showAuthModal("{% url 'registration_register' %}","Sign Up")'>Sign up</a></li>
                            {% endif %}

                        </ul>
                    </div><!-- end .container -->
                </div><!-- end .navbar-inner -->
            </nav>
        </header>
    {% endblock navbar %}

{% endblock heading %}

{% block message %}
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock message %}

{% block content %}

    <!--> nothing on here, just template <-->
{% endblock content%}

{% block footer %}
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="span3">
                    <a class="brand momend-word" href={% url 'momends:front-page' %}>
                        momen<span style="color:#8b0000">d</span>s
                    </a>

                </div>
                <div class="span4 social-networks">
                    <p>
                        <a class="social-network twitter" target="_blank" href="https://twitter.com/momends">Twit</a>
                        <a class="social-network facebook" target="_blank" href="https://www.facebook.com/momends">Feys</a>
                        <!--<a class="social-network linkedin"></a>
                        <a class="social-network dribbble"></a>
                        <a class="social-network pinterest"></a> -->
                    </p>
                </div>
            </div> <!-- end .row -->
        </div> <!-- end .container -->
    </footer><!-- end #footer -->
{% endblock footer %}

{% block default-scripts %}
    <script src="{{ STATIC_URL }}js/log.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.touchSwipe.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.hotkeys.min.js" charset='utf-8'></script>
    <script src="{{ STATIC_URL }}js/jquery.cookie.js"></script>
    <script>
        function showAuthModal(_url, title){
            var modal = $('#auth-modal');
            if(modal){
                modal.modal('hide');
                modal.remove();
            }
            modal =jQuery('<div/>',{
                'id': 'auth-modal',
                'class' : 'modal fade',
                'tabindex' : '-1',
                'role' : 'dialog',
                'aria-labelledby' : 'modal-label',
                'aria-hidden' : 'true'
            }).appendTo('body');
            var header = jQuery('<div/>',{
                'class' : 'modal-header'
            }).appendTo(modal);
            jQuery('<h3/>',{
                'text' : title
            }).appendTo(header);
            var modal_body = jQuery('<div/>',{
                class : 'modal-body',
                id : 'connect-modal'
            }).appendTo(modal);
            modal.ready(function(){
                modal.modal({
                    'remote' : _url
                });
            });
            modal.bind('hidden',function(){
                $(this).remove();
            });
            modal.css('top','10%');
        }
        /**
        Shows an error message on the page
        @param _text: message to show
        @param [_height]: height of the box
        */
        function _showToast(_text, _height){
            if (typeof _height === "undefined"){
                _height = 90;
                if(_text.length > 65){
                    (_text.length / 65) * 20;
                }
                _height = _height + 'px';
            }
            logger.logEvent({'msg': 'showing a tost', 'text': _text});
            var dialog = $('<div/>',{
                class : 'basic-dialog',
                id : 'dialog-'+_dialogId,
                style : 'height: '+_height
            }).appendTo('body');
            $('<div/>',{
                text : _text
            }).appendTo(dialog);
            var closeButton = $('<button/>',{
                class : 'button basic-dialog-close',
                id : 'close-'+_dialogId,
                text : 'OK'
            }).appendTo(dialog);
            closeButton.click(function(){
                dialog.fadeOut();
            });
            dialog.fadeIn();
            _dialogId++;
        }
        function _trackPageEvent(_group, _event){
            _gaq.push(['_trackEvent', 'Page', _group, _event])
        }
    </script>
{% endblock %}
{% block feedback %}
<script>
    var uvOptions = {};
    (function() {
        var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
        uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/wjZNCqz1xRr6EPec141sw.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
    })();
</script>
{% endblock feedback %}
{% block analytics %}
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-37383850-1']);
        _gaq.push(['_setDomainName', 'momends.com']);
        _gaq.push(['_setAllowLinker', true]);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
{% endblock analytics %}
</body>
</html>
