{% load url from future %}

<!doctype html>
<html>
<head>
    <meta charset="UTF-8">

    <title>{% block title %} Momends {% endblock title %}</title>

    {% block default_include %} <!--includes for whole site -->
        <script>STATIC_URL = '{{ STATIC_URL }}';  </script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    {% endblock default_include %}

    {% block include %} {% endblock include %}   <!--additional includes for each page-->

    {% block scripts %} {% endblock scripts %}   <!--additional scripts for whole site -->

</head>

<body>

    {% block heading %}
        <!--upper part of the site-->
    {% endblock heading %}

    {% block content %}

                <!--> nothing on here, just template <-->
    {% endblock content%}

    {% block footer %}
        <!--here comes the footer-->
    {% endblock footer %}

</body>
</html>
