<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- If you delete this meta tag, Half Life 3 will never be released. -->
    <meta name="viewport" content="width=device-width" />

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>momends</title>

</head>

<body bgcolor="#FFFFFF">
<div>
    <table width="100%" cellpadding="0" cellspacing="0">
        <tbody><tr>
            <td style="padding-left:50px;padding-right:50px">
                <table align="center" cellpadding="0" cellspacing="0">
                    <tbody><tr>
                        <td align="center" style="width:540px">
                            <table align="center" width="100%" cellpadding="0" cellspacing="0">
                                <tbody><tr>
                                    <td>
                                        <table align="center" width="100%" cellpadding="0" cellspacing="0">
                                            <tbody><tr>
                                                <td align="center" style="padding-bottom:20px;padding-top:25px">
                                                    <a href="{{ HOST_URL }}" target="_blank">
                                                        <img src="http://beta.momends.com/static/img/logo-ufak.png" alt="momends-logo">
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center">
                                                    <table width="100%" cellpadding="0" cellspacing="0">
                                                        <tbody><tr valign="top">
                                                            <td style="min-height:1px;border-bottom:1px solid #d7d7d7"></td>
                                                        </tr>
                                                        <tr valign="top">
                                                            <td style="min-height:1px;border-bottom:1px solid #ffffff"></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding-left:10px;padding-right:10px;padding-bottom:25px;padding-top:25px">


                                                                <table width="100%" cellpadding="0" cellspacing="0">
                                                                    <tbody><tr>
                                                                        <td style="padding-bottom:15px" align="center">
                                                                            <span style="font-family:arial;font-size:16px;font-weight:bold;color:#333333;text-decoration:none">Hi</span>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td style="padding-bottom:15px" align="center">
                                                                            <span style="font-family:arial;color:#333333;font-size:16px;text-decoration:none;line-height:22px">{{ sender }} wanted to share this precious momend with you!</span>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td style="padding-bottom:15px" align="center">
                                                                            <span style="font-family:arial;color:#333333;font-size:16px;text-decoration:none;line-height:22px"> While reaching it with the following link below,</span>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td style="padding-bottom:15px" align="center">
                                                                            <span style="font-family:arial;color:#333333;font-size:16px;text-decoration:none;line-height:22px">never forget your memories makes more sense when you share them with your beloved ones.</span>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td align="center" style="padding-bottom:40px">
                                                                            <table cellpadding="0" cellspacing="0"><tbody><tr><td bgcolor="darkred" align="center" style="padding-top:10px;padding-right:25px;padding-bottom:10px;padding-left:25px"><a href="{{ HOST_URL }}{{ momend_url }}" style="font-family:arial;text-decoration:none;font-size:19px;color:#ffffff" target="_blank">Go and watch the momend</a></td>
                                                                            </tr></tbody></table>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td align="center">
                                                                            <span style="font-family:arial;font-size:16px;font-weight:bold;color:#333333;text-decoration:none">Connect with us:</span>
                                                                            <p class="">
                                                                                <a href="facebook.com/momends" style="background-color: #3B5998!important;padding: 3px 7px;font-size:12px;margin-bottom:10px;text-decoration:none;color: #FFF;font-weight:bold;display:inline-block;text-align:center;width: 100px">Facebook</a>
                                                                                <a href="twitter.com/momends" style="background-color: #1daced!important;padding: 3px 7px;font-size:12px;margin-bottom:10px;text-decoration:none;color: #FFF;font-weight:bold;display:inline-block;text-align:center;width: 100px">Twitter</a> </p>

                                                                        </td>
                                                                    </tr>
                                                                    </tbody></table>
                                                            </td>
                                                        </tr>
                                                        <tr valign="top">
                                                            <td style="min-height:1px;border-bottom:1px solid #dcdcdc"></td>
                                                        </tr>
                                                        <tr valign="top">
                                                            <td style="min-height:1px;border-bottom:1px solid #ffffff"></td>
                                                        </tr>
                                                        </tbody></table>
                                                </td>
                                            </tr>
                                            </tbody></table>
                                    </td>
                                </tr>
                                </tbody></table>
                        </td>
                    </tr>
                    </tbody></table>
            </td>
        </tr>
        </tbody></table>
</div>
</body>
</html>