{% load url from future %}

<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Momends {% endblock title %}</title>

{% block include %}
    <link href="{{ STATIC_URL }}fonts/font-awesome/font-awesome.css" rel="stylesheet">
    <!--[if IE 7]>
		    <link href={{ STATIC_URL }}fonts/font-awesome/font-awesome-ie7.css" rel="stylesheet">
	    <![endif]-->
    <script src="{{ STATIC_URL }}jquery.js"></script>
    <link href="{{ STATIC_URL }}momend_style.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}player_style.css" rel="stylesheet" type="text/css" />
    <script>STATIC_URL = '{{ STATIC_URL }}';  </script>
    <script>MOMEND_FILE_URL = '{{ MOMEND_FILE_URL }}';  </script>
{% endblock include %}
</head>

<body>
{% block heading %} {% endblock heading %}
{% block content %}
    <body onload="player_init()">
    <div class="player" style="width:100%;height: 100%">
        <div class="scene" style="height: 97%"></div>
        <div class="music"></div>
        <div class="momend-player">
            <div class="momend-button-group">
                <button onclick="pause()" id="play-toggle" class="icon-pause player-button"></button>
                <input id="volume-slider" type="range" min="0" max="100" style="width: 80px">
            </div>
            <div class="momend-button-group right-group">
                <button class="icon-heart player-button" href="#"></button>
                <button class="icon-share player-button" href="#"></button>
                <button class="icon-fullscreen player-button" href="#" id="button-fullscreen"></button>
            </div>
        </div>
    </div>
    <div class="finished-modal-bg" id="finished-bg" style="display: none;">
        <div class="finished-modal" id="finished-modal">
            <div id="send-interaction-button" onclick="send_interaction_data()" class="finished-modal-button">
                <i class="icon-magic modal-icon" id="send-interaction-icon"></i>
                <span id="send-interaction-text">Save Interaction</span>
            </div>
            <div id="share-button" onclick="share()" class="finished-modal-button">
                <i class="icon-share modal-icon" id="share-button-icon"></i>
                <span>Share</span>
            </div>
        </div>
    </div>
    <div class="loading-bg" id="loading-bg">
        <i class="icon-refresh icon-spin icon-3x"></i>
        <br>
        <b class="loading-text">Loading momend...</b>
    </div>
    {% csrf_token %}

{% endblock content %}

{% block scripts %}

    <script src="{{ STATIC_URL }}jquery.jplayer.min.js"></script>
    <script src="{{ STATIC_URL }}jquery.transit.min.js"></script>
    <script src="{{ STATIC_URL }}animation.js"></script>
    <script src="{{ STATIC_URL }}momend.js"></script>

    <script type="text/javascript">
        function fetch_momend_data(){
            $.getJSON( '{% url 'momends:get-momend' params.type params.id %}', function(data) {
                momend_data = data;
                momend_arrived();

            }).error(function(){load_failed();});
        }

        function send_interaction_data(){
            _sendUserInteractionToServer('{% url 'momends:save-interaction' params.id %}', send_interaction_callback);
            var sendText = $('#send-interaction-text');
            var sendIcon = $('#send-interaction-icon');
            sendText.text('Sending..');
            sendIcon.removeClass('icon-magic');
            sendIcon.addClass('icon-spin');
            sendIcon.addClass('icon-spinner')
        }

        function send_interaction_callback(success, msg){
            var sendButton = $('#send-interaction-button');
            var sendText = $('#send-interaction-text');
            var sendIcon = $('#send-interaction-icon');
            if(success){
                sendText.text('Play Interaction');
                sendButton.unbind('click').click(function(){
                    if(page_redirect_function){
                        page_redirect_function(msg); //Redirect to returned url to view the interaction
                    }else{
                        window.location.replace(msg);
                    }
                });
                sendIcon.addClass('icon-ok-sign');
            }else{
                sendButton.text(msg);
                sendIcon.addClass('icon-exclamation-sign');
            }
            sendIcon.removeClass('icon-spin');
            sendIcon.removeClass('icon-spinner');

        }
        function player_init(){
            init_animation();
            fetch_momend_data();
        }
    </script>
{% endblock scripts %}

