{% extends "MainSite.html" %}

{% load url from future %}

{% block include %}
    <link href="{{ STATIC_URL }}momend_style.css" rel="stylesheet" type="text/css" />
    <script src="{{ STATIC_URL }}jquery.jplayer.min.js"></script>
    <script src="{{ STATIC_URL }}animation.js"></script>
    <script src="{{ STATIC_URL }}momend.js"></script>
{% endblock include %}
{% block content %}
    <body onload="init()">
    <button onclick="resume()" id="play-toggle">Play</button>
    <button onclick="pause()" id="pause-toggle">Pause</button>
    <div class="scene"></div>
    <div class="music"></div>
    {% csrf_token %}

{% endblock content %}

{% block scripts %}


    <script type="text/javascript">
        function fetch_momend_data(){
            $.getJSON( '{% url 'momends:get-momend' params.id %}', function(data) {
                momend_data = data;
                momend_arrived();
            }).error(function(){load_failed();});
        }
        function send_interaction_data(){
            _sendUserInteractionToServer('{% url 'momends:save-interaction' params.id %}')
        }
        function init(){
            fetch_momend_data()
        }
    </script>
{% endblock scripts %}

