{% extends "MainSite.html" %}

{% load url from future %}


{% block content %}
    <!-- Upload form. Note enctype attribute! -->
    <form action="{% url 'momends:file-upload' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>{{ form.non_field_errors }}</p>
        <p>{{ form.files.label_tag }} {{ form.files.help_text }}</p>
        <p>
            {{ form.files.errors }}
            {{ form.files }}
        </p>
        <p><input type="submit" value="Upload" /></p>
    </form>

{% endblock content %}